[tool.poetry]
name = "mpipartition"
version = "0.1.2"
description = "MPI volume decomposition and particle distribution tools"
authors = ["Michael Buehlmann <buehlmann.michi@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6.2"
mpi4py = "^3.1.0"
numpy = ">1.10"

[tool.poetry.dev-dependencies]
black = "^22.1.0"
flake8 = "^4.0.1"
wheel = "^0.37.1"
Sphinx = "^4.3.2"
sphinx-rtd-theme = "^1.0.0"
sphinxcontrib-napoleon = "^0.7"
numpydoc = "^1.1"
bump2version = "^1.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
